In [1]:
import nltk
from nltk.tokenize.toktok import ToktokTokenizer
from nltk.stem import SnowballStemmer
from nltk.corpus import stopwords
from gensim.models import TfidfModel
#!pip install --upgrade gensim
import os 
from functools import reduce
import pandas as pd
import numpy as np
from collections import Counter
from wordcloud import WordCloud
from gensim.corpora import Dictionary
import matplotlib.pyplot as plt
#!pip install wordcloud

#os.listdir()
#nltk.download('perluniprops')
#nltk.download('nonbreaking_prefixes')
#nltk.download('stopwords')
#!pip install collections-extended

In [2]:
data = pd.read_csv('prod_prod.csv')
print(data.shape)
data_text =  data[['id_Familia', 'des_Articulo']] #desde BQ me asegure que cada Familia tenga descripcion CHECAR 
print(data_text.shape)
data_text = data_text.dropna().reset_index()

(242521, 8)
(242521, 2)

In [3]:
print(len(set(data.id_Familia)))
print(len(data.id_Familia))

2664
242521

In [4]:
# descriptivos 
faltan  = set(data.id_Familia).difference(set(data_text.id_Familia) ) 
faltan = np.array([ x for x in faltan] )
faltan
data_falta = data[ data.id_Familia.isin(list(faltan) )]  
print(data_falta.head())
print(len(set(data.id_Familia)))
print(len(data.id_Familia))

       id_Familia Departamento       Clase       Familia  \
4099      1101063   CABALLEROS  ACCESORIOS       PAÑUELO
4100      1101063   CABALLEROS  ACCESORIOS       PAÑUELO
4101      1101063   CABALLEROS  ACCESORIOS       PAÑUELO
8336      1102413   CABALLEROS  CALCETERIA  CONTROL TOPS
15311     1104120   CABALLEROS      CAMISA   TALLA EXTRA

                   Categoria           Subcategoria  idu_ArticuloCodigo  \
4099   Caballeros Accesorios  Caballeros Accesorios              120149
4100   Caballeros Accesorios  Caballeros Accesorios              151039
4101   Caballeros Accesorios  Caballeros Accesorios              163211
8336   Interior y Calceteria  Interior y Calceteria              151988
15311     Caballero Exterior     Caballero Exterior              102156

      des_Articulo
4099           NaN
4100           NaN
4101           NaN
8336           NaN
15311          NaN
2664
242521

In [5]:
print(len(data_falta) ) 
print(len(set(data_falta.id_Familia)) ) 
data_falta[['id_Familia', 'Departamento']].groupby(['id_Familia', 'Departamento']).size().reset_index()

2332
364

     id_Familia Departamento   0
0       1101063   CABALLEROS   3
1       1102413   CABALLEROS   1
2       1104120   CABALLEROS  13
3       1105246   CABALLEROS   8
4       1106035   CABALLEROS   8
..          ...          ...  ..
359     2902001       OPTICA   5
360     2985002       OPTICA   3
361     2985003       OPTICA   6
362     2995004       OPTICA  12
363     2996005       OPTICA  10

[364 rows x 3 columns]

In [6]:
print(len(set(data_text.id_Familia)) )# aqui hay pedo ver que onda con las familias que su descripcion esta en blanco 
len(data_text.id_Familia)
print(len(set(data.id_Familia)))
print(len(data.id_Familia))

2300
2664
242521

In [ ]:
data_text = data_text.groupby(['id_Familia'])['des_Articulo'].apply(lambda x: ' | '.join(x)).reset_index()
data_text.columns = ['id_Familia', 'des_Familia']
data_text.des_Familia = data_text.des_Familia.apply(lambda x: x.lower())
data_text

In [ ]:
toktok = ToktokTokenizer()
stemmer = SnowballStemmer("spanish")
stops_spa = stopwords.words('spanish')

In [ ]:
def limpia ( indice):
    #tokens_clean = [ stemmer.stem(x) for x in toktok.tokenize(  data_text.des_Familia[ indice ] ) if x.isalnum() and x not in stops_spa ]
    tokens_clean = [ x for x in toktok.tokenize(  data_text.des_Familia[ indice ] ) if x.isalnum() and x not in stops_spa ]
    
    return(tokens_clean)

In [ ]:
corpus = list(map( lambda x: limpia(x), data_text.index ) ) 
texto = reduce(lambda x, y: x+y, corpus)
bolsa = Counter(texto)

In [ ]:
wc = WordCloud(background_color="white", max_words=100)
wc.generate_from_frequencies(bolsa)
plt.imshow(wc, interpolation="bilinear")
plt.axis("off")
plt.show()

In [ ]:
demo = pd.DataFrame(data=bolsa.values(), columns=['y'])
plt.hist( np.log( demo.y ) )
print(demo.describe())

In [ ]:
dct = Dictionary(corpus)  
corpus_ = [dct.doc2bow(line) for line in corpus]  
model = TfidfModel(corpus_)  
embedings  = model[corpus_]

In [ ]:
a = model[ corpus_[2]]
a

In [ ]:
print(embedings[:5])